@{
    ViewData["Title"] = "Registro";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div class="container">

    <h1>Registrarse</h1>

    <form class="form-control" asp-controller="Auth" asp-action="CreateAccount"> 
        <label class="form-label">Nombre:</label>
        <input class="form-control" type="text" name="nickname" required><br />

        <label class="form-label">Email:</label>
        <input class="form-control" type="email" name="email" required><br />

        <label class="form-label">Contraseña:</label>
        <input class="form-control" type="password" name="password" id="password" onChange="confirmPassword()" required /><br />

        <label class="form-label">Confirmar contraseña:</label>
        <input class="form-control" type="password" id="confirm-password" onChange="confirmPassword()" required /><br />

        <button class="btn btn-primary" type="submit">Registrarse</button>

    </form>

</div>

