@import "https://www.nerdfonts.com/assets/css/webfont.css";

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

textarea {
    resize: none;
}

.post-card:hover {
    cursor: pointer;
}

.margin-bottom {
    margin-bottom: 0.5rem;
}

